*{
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(219, 219, 163);
   color: var(--font-color)
}


:root{
--primary-color: rgb(69, 69, 209);
--secundary-color: rgb(51, 51, 131);
--font-color: rgb(69, 196, 133);

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    background-image: var(--primary-color), var(--secundary-color);
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
}

.texto{
    text-align: center;
}

.container{
    margin: 50px;
    display: flex;
}


img{
    border: 50px;
    border-radius: 500px;
    width: 400px;
}

